MDFe.Tests/Schemas/leiauteManCadTranspMDFe_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Administrador (.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/mdfe" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="tiposGeralMDFe_v1.00.xsd"/>
	<xs:simpleType name="TVersao">
		<xs:annotation>
			<xs:documentation> Tipo Versão</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="1\.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TRNTRC">
		<xs:annotation>
			<xs:documentation>Tipo RNTRC - Registro Nacional Transportadores Rodoviários de Carga</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TManCadTransp">
		<xs:annotation>
			<xs:documentation>Schema XML de validação da área de dados da mensagem de cadastro transportadores</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tpAmb" type="TAmb">
				<xs:annotation>
					<xs:documentation>Identificação do Ambiente:  1 - Produção  2 - Homologação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="verAplic" type="TVerAplic">
				<xs:annotation>
					<xs:documentation>Versão do Aplicativo solicitante</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tpMan">
				<xs:annotation>
					<xs:documentation>Informa o tipo de manutenção:
1-Cadastramento
2-Alteração
3-Desativação
4-Reativação</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dReg">
				<xs:annotation>
					<xs:documentation>Data da informação cadastral</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TData"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RNTRC" type="TRNTRC">
				<xs:annotation>
					<xs:documentation>Registro Nacional de Transportador Rodoviário de Cargas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="CNPJ" type="TCnpj">
					<xs:annotation>
						<xs:documentation>CNPJ da matriz do Transportador</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CPF" type="TCpf">
					<xs:annotation>
						<xs:documentation>CPF do transportador autônomo</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="xNome">
				<xs:annotation>
					<xs:documentation>Nome do Transportador</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tpCateg">
				<xs:annotation>
					<xs:documentation>Tipo da categoria do transportador:
1-ETC
2-CTC
3-TAC</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="exigeCIOT">
				<xs:annotation>
					<xs:documentation>Indicador se há exigência de CIOT
1- Sim / 0 - Não</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:enumeration value="1"/>
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sitCad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Situação Inicial do Cadastramento (APENAS para tpOper=1)
1- ATIVO / 2 - INATIVO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="versao" type="TVersao" use="required"/>
	</xs:complexType>
	<xs:complexType name="TManCadFrota">
		<xs:annotation>
			<xs:documentation>Schema XML de validação da área de dados da mensagem de cadastro frota</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tpAmb" type="TAmb">
				<xs:annotation>
					<xs:documentation>Identificação do Ambiente:  1 - Produção  2 - Homologação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="verAplic" type="TVerAplic">
				<xs:annotation>
					<xs:documentation>Versão do Aplicativo solicitante</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dReg">
				<xs:annotation>
					<xs:documentation>Data da informação cadastral</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TData"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RNTRC" type="TRNTRC">
				<xs:annotation>
					<xs:documentation>Registro Nacional de Transportador Rodoviário de Cargas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tpOper">
				<xs:annotation>
					<xs:documentation>Informa o tipo de operação:
1- Inclusão
2- Exclusão</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="placa" type="TPlaca">
				<xs:annotation>
					<xs:documentation>Placa do veículo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marca">
				<xs:annotation>
					<xs:documentation>Marca do veículo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:minLength value="2"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RENAVAM">
				<xs:annotation>
					<xs:documentation>RENAVAM do veículo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:minLength value="9"/>
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tpVeiculo">
				<xs:annotation>
					<xs:documentation>Tipo do veículo
1-Tração
2-Rebocável</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ano">
				<xs:annotation>
					<xs:documentation>Ano de fabricação do veículo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tara">
				<xs:annotation>
					<xs:documentation>Tara do veículo (t)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{1,3}(\.[0-9]{2,3})?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nroEixos">
				<xs:annotation>
					<xs:documentation>Número de Eixos</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="10|[1-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="versao" type="TVersao" use="required"/>
	</xs:complexType>
	<xs:complexType name="TRetManCadTransp">
		<xs:annotation>
			<xs:documentation>Schema XML de validação de retorno da mensagem de cadastro transportadores</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tpAmb" type="TAmb">
				<xs:annotation>
					<xs:documentation>Identificação do Ambiente:  1 - Produção  2 - Homologação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="verAplic" type="TVerAplic">
				<xs:annotation>
					<xs:documentation>Versão do Aplicativo </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cStat" type="TStat">
				<xs:annotation>
					<xs:documentation>código do status da resposta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMotivo" type="TMotivo">
				<xs:annotation>
					<xs:documentation>descrição literal do status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dhResp">
				<xs:annotation>
					<xs:documentation>Data e hora da resposta no formato AAAA-MM-DDThh:mm:ss</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NSUMovto" type="TNSU" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número Sequencial Único da operação</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="versao" type="TVersao" use="required"/>
	</xs:complexType>
	<xs:complexType name="TRetManCadFrota">
		<xs:annotation>
			<xs:documentation>Schema XML de validação de retorno da mensagem de cadastro frota</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tpAmb" type="TAmb">
				<xs:annotation>
					<xs:documentation>Identificação do Ambiente:  1 - Produção  2 - Homologação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="verAplic" type="TVerAplic">
				<xs:annotation>
					<xs:documentation>Versão do Aplicativo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cStat" type="TStat">
				<xs:annotation>
					<xs:documentation>código do status da resposta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMotivo" type="TMotivo">
				<xs:annotation>
					<xs:documentation>descrição literal do status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dhResp">
				<xs:annotation>
					<xs:documentation>Data e hora da resposta no formato AAAA-MM-DDThh:mm:ss</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NSUMovto" type="TNSU" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número Sequencial Único da operação</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="versao" type="TVersao" use="required"/>
	</xs:complexType>
</xs:schema>
