MDFe.Tests_/Schemas/evPagtoOperMDFe_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by sas.softwares@procergs.rs.gov.br (PROCERGS) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/mdfe" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:ns1="http://www.portalfiscal.inf.br/mdfe" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="eventoMDFeTiposBasico_v3.00.xsd"/>
	<xs:element name="evPagtoOperMDFe">
		<xs:annotation>
			<xs:documentation>Schema XML de validação do evento de pagamento da operação de transporte 110116</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="descEvento">
					<xs:annotation>
						<xs:documentation>Descrição do Evento - “Pagamento Operação MDF-e”</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:whiteSpace value="preserve"/>
							<xs:enumeration value="Pagamento Operação MDF-e"/>
							<xs:enumeration value="Pagamento Operacao MDF-e"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="nProt" type="TProt">
					<xs:annotation>
						<xs:documentation>Número do Protocolo de Status do MDF-e. 
1 posição tipo de autorizador (9 - SEFAZ Nacional ); 
2 posições ano;
10 seqüencial no ano.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="infViagens">
					<xs:annotation>
						<xs:documentation>Informações do total de viagens acobertadas pelo Evento “pagamento do frete”</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="qtdViagens">
								<xs:annotation>
									<xs:documentation>Quantidade total de viagens realizadas com o pagamento do Frete</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[0-9]{5}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="nroViagem">
								<xs:annotation>
									<xs:documentation>Número de referência da viagem do MDFe referenciado.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[0-9]{5}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="infPag" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Informações do Pagamento do Frete</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="xNome" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Razão social ou Nome do responsavel pelo pagamento</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="TString">
										<xs:maxLength value="60"/>
										<xs:minLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:choice>
								<xs:element name="CPF" type="TCpf">
									<xs:annotation>
										<xs:documentation>Número do CPF do responsável pelo pgto</xs:documentation>
										<xs:documentation>Informar os zeros não significativos.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="CNPJ" type="TCnpjOpc">
									<xs:annotation>
										<xs:documentation>Número do CNPJ do responsável pelo pgto</xs:documentation>
										<xs:documentation>Informar os zeros não significativos.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="idEstrangeiro">
									<xs:annotation>
										<xs:documentation>Identificador do responsável pelo pgto em caso de ser estrangeiro</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:whiteSpace value="preserve"/>
											<xs:minLength value="2"/>
											<xs:maxLength value="20"/>
											<xs:pattern value="([!-ÿ]{0}|[!-ÿ]{5,20})?"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:choice>
							<xs:element name="Comp" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Componentes do Pagamentoi do Frete</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="tpComp">
											<xs:annotation>
												<xs:documentation>Tipo do Componente</xs:documentation>
												<xs:documentation>
01 - Vale Pedágio; 
02 - Impostos, taxas e contribuições; 
03 - Despesas (bancárias, meios de pagamento, outras)
; 99 - Outros</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:whiteSpace value="preserve"/>
													<xs:enumeration value="01"/>
													<xs:enumeration value="02"/>
													<xs:enumeration value="03"/>
													<xs:enumeration value="99"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="vComp" type="TDec_1302">
											<xs:annotation>
												<xs:documentation>Valor do componente</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="xComp" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Descrição do componente do tipo Outros</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="TString">
													<xs:maxLength value="60"/>
													<xs:minLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="vContrato" type="TDec_1302">
								<xs:annotation>
									<xs:documentation>Valor Total do Contrato</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="indPag">
								<xs:annotation>
									<xs:documentation>Indicador da Forma de Pagamento:0-Pagamento à Vista;1-Pagamento à Prazo;</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:whiteSpace value="preserve"/>
										<xs:enumeration value="0"/>
										<xs:enumeration value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vAdiant" type="TDec_1302" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Valor do Adiantamento (usar apenas em pagamento à Prazo</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="indAntecipaAdiant" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Indicador para declarar concordância em antecipar o adiantamento</xs:documentation>
									<xs:documentation>Operação de transporte com utilização de veículos de frotas dedicadas ou fidelizadas.
Preencher com “1” para indicar operação de transporte de alto desempenho, demais casos não informar a tag
</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="infPrazo" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Informações do pagamento a prazo. </xs:documentation>
									<xs:documentation>Informar somente se indPag for à Prazo</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nParcela">
											<xs:annotation>
												<xs:documentation>Número da Parcela</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:whiteSpace value="preserve"/>
													<xs:pattern value="[0-9]{3}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="dVenc" type="TData">
											<xs:annotation>
												<xs:documentation>Data de vencimento da Parcela (AAAA-MM-DD)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="vParcela" type="TDec_1302Opc">
											<xs:annotation>
												<xs:documentation>Valor da Parcela</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="tpAntecip" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Tipo de Permissão em relação a antecipação das parcelas</xs:documentation>
									<xs:documentation>0 - Não permite antecipar
1 - Permite antecipar as parcelas
2 - Permite antecipar as parcelas mediante confirmação</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="0"/>
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="infBanc">
								<xs:annotation>
									<xs:documentation>Informações bancárias</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:sequence>
											<xs:element name="codBanco">
												<xs:annotation>
													<xs:documentation>Número do banco</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="TString">
														<xs:minLength value="3"/>
														<xs:maxLength value="5"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="codAgencia">
												<xs:annotation>
													<xs:documentation>Número da agência bancária </xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="TString">
														<xs:minLength value="1"/>
														<xs:maxLength value="10"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
										<xs:element name="CNPJIPEF" type="TCnpjOpc">
											<xs:annotation>
												<xs:documentation>Número do CNPJ da Instituição de Pagamento Eletrônico do Frete</xs:documentation>
												<xs:documentation>Informar os zeros não significativos.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PIX">
											<xs:annotation>
												<xs:documentation>Chave PIX </xs:documentation>
												<xs:documentation>Informar a chave PIX para recebimento do frete. 
Pode ser email, CPF/ CNPJ (somente numeros), Telefone com a seguinte formatação (+5599999999999) ou a chave aleatória gerada pela instituição.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="TString">
													<xs:maxLength value="60"/>
													<xs:minLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
