MDFe.Tests_/Schemas/mdfeModalAquaviario_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by sas-sofwares@procergs.rs.gov.br (PROCERGS) -->
<xs:schema xmlns="http://www.portalfiscal.inf.br/mdfe" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="mdfeTiposBasico_v3.00.xsd"/>
	<xs:element name="aquav">
		<xs:annotation>
			<xs:documentation>Informações do modal Aquaviário</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="irin">
					<xs:annotation>
						<xs:documentation>Irin do navio sempre deverá ser informado</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:whiteSpace value="preserve"/>
							<xs:maxLength value="10"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tpEmb">
					<xs:annotation>
						<xs:documentation>Código do tipo de embarcação</xs:documentation>
						<xs:documentation>Preencher com código da Tabela de Tipo de Embarcação definida no Ministério dos Transportes</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:whiteSpace value="preserve"/>
							<xs:pattern value="[0-9]{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cEmbar">
					<xs:annotation>
						<xs:documentation>Código da embarcação</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="xEmbar">
					<xs:annotation>
						<xs:documentation>Nome da embarcação</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="nViag">
					<xs:annotation>
						<xs:documentation>Número da Viagem</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:whiteSpace value="preserve"/>
							<xs:pattern value="[1-9]{1}[0-9]{0,9}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cPrtEmb">
					<xs:annotation>
						<xs:documentation>Código do Porto de Embarque</xs:documentation>
						<xs:documentation>Preencher de acordo com Tabela de Portos definida no Ministério dos Transportes</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:minLength value="1"/>
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cPrtDest">
					<xs:annotation>
						<xs:documentation>Código do Porto de Destino</xs:documentation>
						<xs:documentation>Preencher de acordo com Tabela de Portos definida no Ministério dos Transportes</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:minLength value="1"/>
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="prtTrans" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Porto de Transbordo</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tpNav" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tipo de Navegação</xs:documentation>
						<xs:documentation>Preencher com: 
						0 - Interior;
						1 - Cabotagem</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:whiteSpace value="preserve"/>
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="infTermCarreg" minOccurs="0" maxOccurs="5">
					<xs:annotation>
						<xs:documentation>Grupo de informações dos terminais de carregamento.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cTermCarreg">
								<xs:annotation>
									<xs:documentation>Código do Terminal de Carregamento</xs:documentation>
									<xs:documentation>Preencher de acordo com a Tabela de Terminais de Carregamento. O código de cada Porto está definido no Ministério de Transportes.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="TString">
										<xs:minLength value="1"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="xTermCarreg">
								<xs:annotation>
									<xs:documentation>Nome do Terminal de Carregamento</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="TString">
										<xs:minLength value="1"/>
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="infTermDescarreg" minOccurs="0" maxOccurs="5">
					<xs:annotation>
						<xs:documentation>Grupo de informações dos terminais de descarregamento.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cTermDescarreg">
								<xs:annotation>
									<xs:documentation>Código do Terminal de Descarregamento</xs:documentation>
									<xs:documentation>Preencher de acordo com a Tabela de Terminais de Descarregamento. O código de cada Porto está definido no Ministério de Transportes.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="TString">
										<xs:minLength value="1"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="xTermDescarreg">
								<xs:annotation>
									<xs:documentation>Nome do Terminal de Descarregamento</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="TString">
										<xs:minLength value="1"/>
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="infEmbComb" minOccurs="0" maxOccurs="30">
					<xs:annotation>
						<xs:documentation>Informações das Embarcações do Comboio</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cEmbComb">
								<xs:annotation>
									<xs:documentation>Código da embarcação do comboio</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="TString">
										<xs:minLength value="1"/>
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="xBalsa">
								<xs:annotation>
									<xs:documentation>Identificador da Balsa</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="TString">
										<xs:minLength value="1"/>
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="infUnidCargaVazia" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Informações das Undades de Carga vazias</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idUnidCargaVazia" type="TContainer">
								<xs:annotation>
									<xs:documentation>Identificação da unidades de carga vazia</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="tpUnidCargaVazia">
								<xs:annotation>
									<xs:documentation>Tipo da unidade de carga vazia</xs:documentation>
									<xs:documentation>1 - Container; 2 - ULD;3 - Pallet;4 - Outros;

</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="TString">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
										<xs:enumeration value="3"/>
										<xs:enumeration value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="infUnidTranspVazia" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Informações das Undades de Transporte vazias</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idUnidTranspVazia" type="TContainer">
								<xs:annotation>
									<xs:documentation>Identificação da unidades de transporte vazia</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="tpUnidTranspVazia">
								<xs:annotation>
									<xs:documentation>Tipo da unidade de transporte vazia</xs:documentation>
									<xs:documentation>Deve ser preenchido com “1” para Rodoviário Tração do tipo caminhão ou “2” para Rodoviário reboque do tipo carreta

</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="TString">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
