MDFe.AppTeste/Schemas/evConfirmaServMDFe_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by sas.softwares@procergs.rs.gov.br (PROCERGS) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/mdfe" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:ns1="http://www.portalfiscal.inf.br/mdfe" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="eventoMDFeTiposBasico_v3.00.xsd"/>
	<xs:element name="evConfirmaServMDFe">
		<xs:annotation>
			<xs:documentation>Schema XML de validação do evento de confirmação do serviço de transporte 110117</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="descEvento">
					<xs:annotation>
						<xs:documentation>Descrição do Evento - “Confirmação Serviço Transporte”</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:whiteSpace value="preserve"/>
							<xs:enumeration value="Confirmação Serviço Transporte"/>
							<xs:enumeration value="Confirmacao Servico Transporte"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="nProt" type="TProt">
					<xs:annotation>
						<xs:documentation>Número do Protocolo de Status do MDF-e. 
1 posição tipo de autorizador (9 - SEFAZ Nacional ); 
2 posições ano;
10 seqüencial no ano.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
