MDFe.AppTeste/Schemas/mdfeTiposBasico_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by sas.softwares@procergs.rs.gov.br (PROCERGS) -->
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/mdfe" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"/>
	<xs:include schemaLocation="tiposGeralMDFe_v3.00.xsd"/>
	<xs:complexType name="TMDFe">
		<xs:annotation>
			<xs:documentation>Tipo Manifesto de Documentos Fiscais Eletrônicos</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="infMDFe">
				<xs:annotation>
					<xs:documentation>Informações do MDF-e</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ide">
							<xs:annotation>
								<xs:documentation>Identificação do MDF-e</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="cUF" type="TCodUfIBGE">
										<xs:annotation>
											<xs:documentation>Código da UF do emitente do MDF-e</xs:documentation>
											<xs:documentation>Código da UF do emitente do Documento Fiscal. Utilizar a
Tabela do IBGE de código de unidades da federação.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tpAmb" type="TAmb">
										<xs:annotation>
											<xs:documentation>Tipo do Ambiente</xs:documentation>
											<xs:documentation>1 - Produção
2 - Homologação</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tpEmit" type="TEmit">
										<xs:annotation>
											<xs:documentation>Tipo do Emitente
</xs:documentation>
											<xs:documentation>1 - Prestador de serviço de transporte 
2 - Transportador de Carga Própria 3 - Prestador de serviço de transporte que emitirá CT-e Globalizado 

OBS: Deve ser preenchido com 2 para emitentes de NF-e e pelas transportadoras quando estiverem fazendo transporte de carga própria. Deve ser preenchido com 3 para transportador de carga que emitirá à posteriori CT-e Globalizado relacionando as NF-e.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tpTransp" type="TTransp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tipo do Transportador</xs:documentation>
											<xs:documentation>1 - ETC

2 - TAC

3 - CTC</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="mod" type="TModMD">
										<xs:annotation>
											<xs:documentation>Modelo do Manifesto Eletrônico</xs:documentation>
											<xs:documentation>Utilizar o código 58 para identificação do MDF-e</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="serie" type="TSerie">
										<xs:annotation>
											<xs:documentation>Série do Manifesto</xs:documentation>
											<xs:documentation>Informar a série do documento fiscal (informar zero se inexistente).
Série na faixa [920-969]: Reservada para emissão por contribuinte pessoa física com inscrição estadual.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="nMDF" type="TNF">
										<xs:annotation>
											<xs:documentation>Número do Manifesto</xs:documentation>
											<xs:documentation>Número que identifica o Manifesto. 1 a 999999999.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="cMDF">
										<xs:annotation>
											<xs:documentation>Código numérico que compõe a Chave de Acesso. </xs:documentation>
											<xs:documentation>Código aleatório gerado pelo emitente, com o objetivo de evitar acessos indevidos ao documento.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="preserve"/>
												<xs:pattern value="[0-9]{8}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="cDV">
										<xs:annotation>
											<xs:documentation>Digito verificador da chave de acesso do Manifesto</xs:documentation>
											<xs:documentation>Informar o dígito  de controle da chave de acesso do MDF-e, que deve ser calculado com a aplicação do algoritmo módulo 11 (base 2,9) da chave de acesso. </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="preserve"/>
												<xs:pattern value="[0-9]{1}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="modal" type="TModalMD">
										<xs:annotation>
											<xs:documentation>Modalidade de transporte</xs:documentation>
											<xs:documentation>1 - Rodoviário;
2 - Aéreo; 3 - Aquaviário; 4 - Ferroviário.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="dhEmi" type="TDateTimeUTC">
										<xs:annotation>
											<xs:documentation>Data e hora de emissão do Manifesto</xs:documentation>
											<xs:documentation>Formato AAAA-MM-DDTHH:MM:DD TZD</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tpEmis">
										<xs:annotation>
											<xs:documentation>Forma de emissão do Manifesto (Normal ou Contingência)</xs:documentation>
											<xs:documentation>1 - Normal
; 2 - Contingência</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="preserve"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="procEmi">
										<xs:annotation>
											<xs:documentation>Identificação do processo de emissão do Manifesto</xs:documentation>
											<xs:documentation>0 - emissão de MDF-e com aplicativo do contribuinte</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TProcEmi"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="verProc">
										<xs:annotation>
											<xs:documentation>Versão do processo de emissão</xs:documentation>
											<xs:documentation>Informar a versão do aplicativo emissor de MDF-e.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TString">
												<xs:minLength value="1"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UFIni" type="TUf">
										<xs:annotation>
											<xs:documentation>Sigla da UF do Carregamento</xs:documentation>
											<xs:documentation>Utilizar a Tabela do IBGE de código de unidades da federação.
Informar 'EX' para operações com o exterior.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="UFFim" type="TUf">
										<xs:annotation>
											<xs:documentation>Sigla da UF do Descarregamento</xs:documentation>
											<xs:documentation>Utilizar a Tabela do IBGE de código de unidades da federação.
Informar 'EX' para operações com o exterior.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="infMunCarrega" maxOccurs="50">
										<xs:annotation>
											<xs:documentation source=" Municípios onde ocorreram os carregamentos">Informações dos Municípios de Carregamento</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="cMunCarrega" type="TCodMunIBGE">
													<xs:annotation>
														<xs:documentation source="Código do Munícpio de Carregamento">Código do Município de Carregamento</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="xMunCarrega">
													<xs:annotation>
														<xs:documentation>Nome do Município de Carregamento</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="TString">
															<xs:minLength value="2"/>
															<xs:maxLength value="60"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="infPercurso" minOccurs="0" maxOccurs="25">
										<xs:annotation>
											<xs:documentation source=" Municípios onde ocorreram os carregamentos">Informações do Percurso do MDF-e</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="UFPer" type="TUf">
													<xs:annotation>
														<xs:documentation>Sigla das Unidades da Federação do percurso do veículo.</xs:documentation>
														<xs:documentation>Não é necessário repetir as UF de Início e Fim</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="dhIniViagem" type="TDateTimeUTC" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data e hora previstos de inicio da viagem</xs:documentation>
											<xs:documentation>Formato AAAA-MM-DDTHH:MM:DD TZD</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="indCanalVerde" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicador de participação do Canal Verde</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="indCarregaPosterior" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicador de MDF-e com inclusão da Carga posterior a emissão por evento de inclusão de DF-e</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="emit">
							<xs:annotation>
								<xs:documentation>Identificação do Emitente do Manifesto</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:choice>
										<xs:element name="CNPJ" type="TCnpj">
											<xs:annotation>
												<xs:documentation>CNPJ do emitente</xs:documentation>
												<xs:documentation>Informar zeros não significativos</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CPF" type="TCpf">
											<xs:annotation>
												<xs:documentation>CPF do emitente</xs:documentation>
												<xs:documentation>Informar zeros não significativos.

Usar com série específica 920-969 para emitente pessoa física com inscrição estadual</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
									<xs:element name="IE">
										<xs:annotation>
											<xs:documentation>Inscrição Estadual do emitemte</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TIe"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="xNome">
										<xs:annotation>
											<xs:documentation>Razão social ou Nome do emitente</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TString">
												<xs:maxLength value="60"/>
												<xs:minLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="xFant" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Nome fantasia do emitente</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TString">
												<xs:maxLength value="60"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="enderEmit" type="TEndeEmi">
										<xs:annotation>
											<xs:documentation>Endereço do emitente</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="infModal">
							<xs:annotation>
								<xs:documentation>Informações do modal</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:any processContents="skip">
										<xs:annotation>
											<xs:documentation>XML do modal
Insira neste local o XML específico do modal (rodoviário, aéreo, ferroviário ou aquaviário).  </xs:documentation>
											<xs:documentation>O elemento do tipo -any- permite estender o documento XML com elementos não especificados pelo schema.
					Insira neste local - any- o XML específico do modal (rodoviário, aéreo, ferroviário ou aquaviário). A especificação do schema XML para cada modal pode ser encontrada nos arquivos que acompanham este pacote de liberação:
	
Rodoviário - ver arquivo MDFeModalRodoviario_v9.99
			Aéreo - ver arquivo MDFeModalAereo_v9.99
				Aquaviário - arquivo MDFeModalAquaviario_v9.99
			Ferroviário - arquivo MDFeModalFerroviario_v9.99


Onde v9.99 é a a designação genérica para a versão do arquivo. 
Por exemplo, o arquivo para o schema do modal Rodoviário na versão 1.00 será denominado "MDFeModalRodoviario_v1.00".</xs:documentation>
										</xs:annotation>
									</xs:any>
								</xs:sequence>
								<xs:attribute name="versaoModal" use="required">
									<xs:annotation>
										<xs:documentation>Versão do leiaute específico para o Modal</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:whiteSpace value="preserve"/>
											<xs:pattern value="3\.(0[0-9]|[1-9][0-9])"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="infDoc">
							<xs:annotation>
								<xs:documentation>Informações dos Documentos fiscais vinculados ao manifesto</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="infMunDescarga" maxOccurs="1000">
										<xs:annotation>
											<xs:documentation>Informações dos Municípios de descarregamento</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="cMunDescarga" type="TCodMunIBGE">
													<xs:annotation>
														<xs:documentation>Código do Município de Descarregamento</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="xMunDescarga">
													<xs:annotation>
														<xs:documentation>Nome do Município de Descarregamento</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="TString">
															<xs:minLength value="2"/>
															<xs:maxLength value="60"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="infCTe" minOccurs="0" maxOccurs="10000">
													<xs:annotation>
														<xs:documentation>Conhecimentos de Tranporte - usar este grupo quando for prestador de serviço de transporte</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="chCTe" type="TChCTe">
																<xs:annotation>
																	<xs:documentation>Conhecimento Eletrônico - Chave de Acesso</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="SegCodBarra" type="TSegCodBarra" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Segundo código de barras</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="indReentrega" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Indicador de Reentrega</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="1"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="infUnidTransp" type="TUnidadeTransp" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Informações das Unidades de Transporte (Carreta/Reboque/Vagão)</xs:documentation>
																	<xs:documentation>Deve ser preenchido com as informações das unidades de transporte utilizadas.</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="peri" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Preenchido quando for  transporte de produtos classificados pela ONU como perigosos.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="nONU">
																			<xs:annotation>
																				<xs:documentation>Número ONU/UN</xs:documentation>
																				<xs:documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal  </xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:whiteSpace value="preserve"/>
																					<xs:pattern value="[0-9]{4}|ND"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="xNomeAE" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Nome apropriado para embarque do produto</xs:documentation>
																				<xs:documentation>Ver a legislação de transporte de produtos perigosos aplicada ao modo de transporte</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="150"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="xClaRisco" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Classe ou subclasse/divisão, e risco subsidiário/risco secundário</xs:documentation>
																				<xs:documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="40"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="grEmb" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Grupo de Embalagem</xs:documentation>
																				<xs:documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal
															Preenchimento obrigatório para o modal aéreo.
															A legislação para o modal rodoviário e ferroviário não atribui grupo de embalagem para todos os produtos, portanto haverá casos de não preenchimento desse campo.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="6"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="qTotProd">
																			<xs:annotation>
																				<xs:documentation>Quantidade total por produto</xs:documentation>
																				<xs:documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="20"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="qVolTipo" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Quantidade e Tipo de volumes</xs:documentation>
																				<xs:documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="60"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="infEntregaParcial" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Grupo de informações da Entrega Parcial (Corte de Voo)</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="qtdTotal" type="TDec_1104">
																			<xs:annotation>
																				<xs:documentation>Quantidade total de volumes</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="qtdParcial" type="TDec_1104">
																			<xs:annotation>
																				<xs:documentation>Quantidade de volumes enviados no MDF-e</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="infNFe" minOccurs="0" maxOccurs="10000">
													<xs:annotation>
														<xs:documentation>Nota Fiscal Eletronica</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="chNFe" type="TChNFe">
																<xs:annotation>
																	<xs:documentation>Nota Fiscal Eletrônica</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="SegCodBarra" type="TSegCodBarra" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Segundo código de barras</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="indReentrega" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Indicador de Reentrega</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="1"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="infUnidTransp" type="TUnidadeTransp" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Informações das Unidades de Transporte (Carreta/Reboque/Vagão)</xs:documentation>
																	<xs:documentation>Deve ser preenchido com as informações das unidades de transporte utilizadas.</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="peri" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Preenchido quando for  transporte de produtos classificados pela ONU como perigosos.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="nONU">
																			<xs:annotation>
																				<xs:documentation>Número ONU/UN</xs:documentation>
																				<xs:documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal  </xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:whiteSpace value="preserve"/>
																					<xs:pattern value="[0-9]{4}|ND"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="xNomeAE" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Nome apropriado para embarque do produto</xs:documentation>
																				<xs:documentation>Ver a legislação de transporte de produtos perigosos aplicada ao modo de transporte</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="150"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="xClaRisco" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Classe ou subclasse/divisão, e risco subsidiário/risco secundário</xs:documentation>
																				<xs:documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="40"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="grEmb" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Grupo de Embalagem</xs:documentation>
																				<xs:documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal
															Preenchimento obrigatório para o modal aéreo.
															A legislação para o modal rodoviário e ferroviário não atribui grupo de embalagem para todos os produtos, portanto haverá casos de não preenchimento desse campo.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="6"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="qTotProd">
																			<xs:annotation>
																				<xs:documentation>Quantidade total por produto</xs:documentation>
																				<xs:documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="20"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="qVolTipo" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Quantidade e Tipo de volumes</xs:documentation>
																				<xs:documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="60"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="infMDFeTransp" minOccurs="0" maxOccurs="10000">
													<xs:annotation>
														<xs:documentation>Manifesto Eletrônico de Documentos Fiscais. Somente para modal Aquaviário (vide regras MOC)</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="chMDFe" type="TChNFe">
																<xs:annotation>
																	<xs:documentation>Manifesto Eletrônico de Documentos Fiscais</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="indReentrega" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Indicador de Reentrega</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="1"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="infUnidTransp" type="TUnidadeTransp" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Informações das Unidades de Transporte (Carreta/Reboque/Vagão)</xs:documentation>
																	<xs:documentation>Dispositivo de carga utilizada (Unit Load Device - ULD) significa todo tipo de contêiner de carga, vagão, contêiner de avião, palete de aeronave com rede ou palete de aeronave com rede sobre um iglu. </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="peri" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Preenchido quando for  transporte de produtos classificados pela ONU como perigosos.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="nONU">
																			<xs:annotation>
																				<xs:documentation>Número ONU/UN</xs:documentation>
																				<xs:documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal  </xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:whiteSpace value="preserve"/>
																					<xs:pattern value="[0-9]{4}|ND"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="xNomeAE" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Nome apropriado para embarque do produto</xs:documentation>
																				<xs:documentation>Ver a legislação de transporte de produtos perigosos aplicada ao modo de transporte</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="150"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="xClaRisco" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Classe ou subclasse/divisão, e risco subsidiário/risco secundário</xs:documentation>
																				<xs:documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="40"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="grEmb" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Grupo de Embalagem</xs:documentation>
																				<xs:documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal
															Preenchimento obrigatório para o modal aéreo.
															A legislação para o modal rodoviário e ferroviário não atribui grupo de embalagem para todos os produtos, portanto haverá casos de não preenchimento desse campo.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="6"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="qTotProd">
																			<xs:annotation>
																				<xs:documentation>Quantidade total por produto</xs:documentation>
																				<xs:documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="20"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="qVolTipo" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Quantidade e Tipo de volumes</xs:documentation>
																				<xs:documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="TString">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="60"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="seg" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Informações de Seguro da Carga</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="infResp">
										<xs:annotation>
											<xs:documentation>Informações do responsável pelo seguro da carga</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="respSeg">
													<xs:annotation>
														<xs:documentation>Responsável pelo seguro</xs:documentation>
														<xs:documentation>Preencher com:
															1- Emitente do MDF-e;
						
22 - Responsável pela contratação do serviço de transporte (contratante)	


Dados obrigatórios apenas no modal Rodoviário, depois da lei 11.442/07. Para os demais modais esta informação é opcional.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:whiteSpace value="preserve"/>
															<xs:minLength value="1"/>
															<xs:maxLength value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:choice minOccurs="0">
													<xs:element name="CNPJ" type="TCnpj">
														<xs:annotation>
															<xs:documentation>Número do CNPJ do responsável pelo seguro</xs:documentation>
															<xs:documentation>Obrigatório apenas se responsável pelo seguro for (2) responsável pela contratação do transporte - pessoa jurídica</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CPF" type="TCpf">
														<xs:annotation>
															<xs:documentation>Número do CPF do responsável pelo seguro</xs:documentation>
															<xs:documentation>Obrigatório apenas se responsável pelo seguro for (2) responsável pela contratação do transporte - pessoa física</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:choice>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="infSeg" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Informações da seguradora</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="xSeg">
													<xs:annotation>
														<xs:documentation>Nome da Seguradora</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="TString">
															<xs:minLength value="1"/>
															<xs:maxLength value="30"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CNPJ" type="TCnpjOpc">
													<xs:annotation>
														<xs:documentation>Número do CNPJ da seguradora</xs:documentation>
														<xs:documentation>Obrigatório apenas se responsável pelo seguro for (2) responsável pela contratação do transporte - pessoa jurídica</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="nApol" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Número da Apólice</xs:documentation>
											<xs:documentation>Obrigatório pela lei 11.442/07 (RCTRC)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TString">
												<xs:minLength value="1"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="nAver" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Número da Averbação</xs:documentation>
											<xs:documentation>Informar as averbações do seguro</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TString">
												<xs:minLength value="1"/>
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="prodPred" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Produto predominante</xs:documentation>
								<xs:documentation>Informar a descrição do produto predominante</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="tpCarga">
										<xs:annotation>
											<xs:documentation>Tipo de Carga</xs:documentation>
											<xs:documentation>Conforme Resolução ANTT nº.  5.849/2019.

01-Granel sólido;
02-Granel líquido;
03-Frigorificada;
04-Conteinerizada;
05-Carga Geral;
06-Neogranel;
07-Perigosa (granel sólido);
08-Perigosa (granel líquido);
09-Perigosa (carga frigorificada);
10-Perigosa (conteinerizada);
11-Perigosa (carga geral).</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="preserve"/>
												<xs:enumeration value="01"/>
												<xs:enumeration value="02"/>
												<xs:enumeration value="03"/>
												<xs:enumeration value="04"/>
												<xs:enumeration value="05"/>
												<xs:enumeration value="06"/>
												<xs:enumeration value="07"/>
												<xs:enumeration value="08"/>
												<xs:enumeration value="09"/>
												<xs:enumeration value="10"/>
												<xs:enumeration value="11"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="xProd">
										<xs:annotation>
											<xs:documentation>Descrição do produto </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TString">
												<xs:maxLength value="120"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="cEAN" minOccurs="0">
										<xs:annotation>
											<xs:documentation>GTIN (Global Trade Item Number) do produto, antigo código EAN ou código de barras</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="preserve"/>
												<xs:pattern value="SEM GTIN|[0-9]{0}|[0-9]{8}|[0-9]{12,14}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="NCM" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código NCM </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="preserve"/>
												<xs:pattern value="[0-9]{2}|[0-9]{8}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="infLotacao" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Informações da carga lotação. Informar somente quando MDF-e for de carga lotação</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="infLocalCarrega">
													<xs:annotation>
														<xs:documentation>Informações da localização de carregamento do MDF-e de carga lotação</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:choice>
															<xs:element name="CEP">
																<xs:annotation>
																	<xs:documentation>CEP onde foi carregado o MDF-e</xs:documentation>
																	<xs:documentation>Informar zeros não significativos</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:whiteSpace value="preserve"/>
																		<xs:pattern value="[0-9]{8}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:sequence>
																<xs:element name="latitude" type="TLatitude">
																	<xs:annotation>
																		<xs:documentation>Latitude do ponto geográfico onde foi carregado o MDF-e</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="longitude" type="TLongitude">
																	<xs:annotation>
																		<xs:documentation>Latitude do ponto geográfico onde foi carregado o MDF-e</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:choice>
													</xs:complexType>
												</xs:element>
												<xs:element name="infLocalDescarrega">
													<xs:annotation>
														<xs:documentation>Informações da localização de descarregamento do MDF-e de carga lotação</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:choice>
															<xs:element name="CEP">
																<xs:annotation>
																	<xs:documentation>CEP onde foi descarregado o MDF-e</xs:documentation>
																	<xs:documentation>Informar zeros não significativos</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:whiteSpace value="preserve"/>
																		<xs:pattern value="[0-9]{8}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:sequence>
																<xs:element name="latitude" type="TLatitude">
																	<xs:annotation>
																		<xs:documentation>Latitude do ponto geográfico onde foi descarregado o MDF-e</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="longitude" type="TLongitude">
																	<xs:annotation>
																		<xs:documentation>Latitude do ponto geográfico onde foi descarregado o MDF-e</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:choice>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="tot">
							<xs:annotation>
								<xs:documentation>Totalizadores da carga transportada e seus documentos fiscais</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="qCTe" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Quantidade total de CT-e relacionados no Manifesto</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="preserve"/>
												<xs:pattern value="[0-9]{1,6}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="qNFe" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Quantidade total de NF-e relacionadas no Manifesto</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[0-9]{1,6}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="qMDFe" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Quantidade total de MDF-e relacionados no Manifesto Aquaviário</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[0-9]{1,6}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="vCarga" type="TDec_1302">
										<xs:annotation>
											<xs:documentation>Valor total da carga / mercadorias transportadas</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="cUnid">
										<xs:annotation>
											<xs:documentation>Código da unidade de medida do Peso Bruto da Carga / Mercadorias transportadas</xs:documentation>
											<xs:documentation>01 – KG;  02 - TON</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="01"/>
												<xs:enumeration value="02"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="qCarga" type="TDec_1104">
										<xs:annotation>
											<xs:documentation>Peso Bruto Total da Carga / Mercadorias transportadas</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="lacres" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Lacres do MDF-e</xs:documentation>
								<xs:documentation>Preechimento opcional para os modais Rodoviário e Ferroviário</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="nLacre">
										<xs:annotation>
											<xs:documentation>número do lacre</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TString">
												<xs:minLength value="1"/>
												<xs:maxLength value="60"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="autXML" minOccurs="0" maxOccurs="10">
							<xs:annotation>
								<xs:documentation>Autorizados para download do XML do DF-e</xs:documentation>
								<xs:documentation>Informar CNPJ ou CPF. Preencher os zeros não significativos.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:choice>
										<xs:element name="CNPJ" type="TCnpj">
											<xs:annotation>
												<xs:documentation>CNPJ do autorizado</xs:documentation>
												<xs:documentation>Informar zeros não significativos</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CPF" type="TCpf">
											<xs:annotation>
												<xs:documentation>CPF do autorizado</xs:documentation>
												<xs:documentation>Informar zeros não significativos</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="infAdic" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informações Adicionais</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="infAdFisco" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Informações adicionais de interesse do Fisco</xs:documentation>
											<xs:documentation>Norma referenciada, informações complementares, etc</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TString">
												<xs:maxLength value="2000"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="infCpl" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Informações complementares de interesse do Contribuinte</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TString">
												<xs:minLength value="1"/>
												<xs:maxLength value="5000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="infRespTec" type="TRespTec" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informações do Responsável Técnico pela emissão do DF-e</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="versao" type="TVerMDe" use="required">
						<xs:annotation>
							<xs:documentation>Versão do leiaute</xs:documentation>
							<xs:documentation>Ex: "3.00"</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Id" use="required">
						<xs:annotation>
							<xs:documentation>Identificador da tag a ser assinada</xs:documentation>
							<xs:documentation>Informar a chave de acesso do MDF-e e precedida do literal "MDFe"</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:ID">
								<xs:pattern value="MDFe[0-9]{44}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="infMDFeSupl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Informações suplementares do MDF-e</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="qrCodMDFe">
							<xs:annotation>
								<xs:documentation>Texto com o QR-Code para consulta do MDF-e</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:whiteSpace value="preserve"/>
									<xs:minLength value="50"/>
									<xs:maxLength value="1000"/>
									<xs:pattern value="((HTTPS?|https?)://.*\?chMDFe=[0-9]{44}&amp;tpAmb=[1-2](&amp;sign=[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1})?)"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ds:Signature"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TEnviMDFe">
		<xs:annotation>
			<xs:documentation>Tipo Pedido de Autorização Assíncrona de MDF-e</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="idLote" type="TIdLote"/>
			<xs:element name="MDFe" type="TMDFe"/>
		</xs:sequence>
		<xs:attribute name="versao" type="TVerMDe" use="required"/>
	</xs:complexType>
	<xs:complexType name="TRetMDFe">
		<xs:annotation>
			<xs:documentation>Tipo Retorno do Pedido de Autorização do MDF-e</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tpAmb">
				<xs:annotation>
					<xs:documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cUF" type="TCodUfIBGE">
				<xs:annotation>
					<xs:documentation>Identificação da UF</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="verAplic" type="TVerAplic">
				<xs:annotation>
					<xs:documentation>Versão do Aplicativo que recebeu o Arquivo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cStat" type="TStat">
				<xs:annotation>
					<xs:documentation>Código do status da mensagem enviada.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMotivo" type="TMotivo">
				<xs:annotation>
					<xs:documentation>Descrição literal do status do serviço solicitado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="protMDFe" type="TProtMDFe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dados do Recibo do Arquivo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="versao" type="TVerMDe" use="required"/>
	</xs:complexType>
	<xs:complexType name="TRetEnviMDFe">
		<xs:annotation>
			<xs:documentation>Tipo Retorno do Recibo do Pedido de Autorização do MDF-e</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tpAmb">
				<xs:annotation>
					<xs:documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cUF" type="TCodUfIBGE">
				<xs:annotation>
					<xs:documentation>Identificação da UF</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="verAplic" type="TVerAplic">
				<xs:annotation>
					<xs:documentation>Versão do Aplicativo que recebeu o Arquivo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cStat" type="TStat">
				<xs:annotation>
					<xs:documentation>Código do status da mensagem enviada.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMotivo" type="TMotivo">
				<xs:annotation>
					<xs:documentation>Descrição literal do status do serviço solicitado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="infRec" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dados do Recibo do Arquivo</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nRec" type="TRec">
							<xs:annotation>
								<xs:documentation>Número do Recibo</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dhRecbto" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>Data e hora do recebimento, no formato AAAA-MM-DDTHH:MM:SS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tMed">
							<xs:annotation>
								<xs:documentation>Tempo médio de resposta do serviço (em segundos) dos últimos 5 minutos</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:pattern value="[0-9]{1,4}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="versao" type="TVerMDe" use="required"/>
	</xs:complexType>
	<xs:complexType name="TEndeEmi">
		<xs:annotation>
			<xs:documentation>Tipo Dados do Endereço</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xLgr">
				<xs:annotation>
					<xs:documentation>Logradouro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nro">
				<xs:annotation>
					<xs:documentation>Número</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xCpl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Complemento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xBairro">
				<xs:annotation>
					<xs:documentation>Bairro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cMun" type="TCodMunIBGE">
				<xs:annotation>
					<xs:documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMun">
				<xs:annotation>
					<xs:documentation>Nome do município, , informar EXTERIOR para operações com o exterior.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CEP" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CEP</xs:documentation>
					<xs:documentation>Informar zeros não significativos</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UF" type="TUf">
				<xs:annotation>
					<xs:documentation>Sigla da UF, , informar EX para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Telefone</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{7,12}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="email" type="TEmail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Endereço de E-mail</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TEndereco">
		<xs:annotation>
			<xs:documentation>Tipo Dados do Endereço</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xLgr">
				<xs:annotation>
					<xs:documentation>Logradouro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="255"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nro">
				<xs:annotation>
					<xs:documentation>Número</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xCpl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Complemento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xBairro">
				<xs:annotation>
					<xs:documentation>Bairro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cMun" type="TCodMunIBGE">
				<xs:annotation>
					<xs:documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMun">
				<xs:annotation>
					<xs:documentation>Nome do município, informar EXTERIOR para operações com o exterior.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CEP" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CEP</xs:documentation>
					<xs:documentation>Informar os zeros não significativos</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UF" type="TUf">
				<xs:annotation>
					<xs:documentation>Sigla da UF, informar EX para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cPais" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do país</xs:documentation>
					<xs:documentation>Utilizar a tabela do BACEN</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xPais" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nome do país</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TEndernac">
		<xs:annotation>
			<xs:documentation>Tipo Dados do Endereço</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xLgr">
				<xs:annotation>
					<xs:documentation>Logradouro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="255"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nro">
				<xs:annotation>
					<xs:documentation>Número</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xCpl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Complemento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xBairro">
				<xs:annotation>
					<xs:documentation>Bairro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cMun" type="TCodMunIBGE">
				<xs:annotation>
					<xs:documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMun">
				<xs:annotation>
					<xs:documentation>Nome do município, , informar EXTERIOR para operações com o exterior.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CEP" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CEP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UF" type="TUf">
				<xs:annotation>
					<xs:documentation>Sigla da UF, , informar EX para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TEnderFer">
		<xs:annotation>
			<xs:documentation>Tipo Dados do Endereço</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xLgr">
				<xs:annotation>
					<xs:documentation>Logradouro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="255"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nro" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xCpl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Complemento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xBairro" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bairro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cMun" type="TCodMunIBGE">
				<xs:annotation>
					<xs:documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMun">
				<xs:annotation>
					<xs:documentation>Nome do município, , informar EXTERIOR para operações com o exterior.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CEP">
				<xs:annotation>
					<xs:documentation>CEP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UF" type="TUf">
				<xs:annotation>
					<xs:documentation>Sigla da UF, , informar EX para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TEndOrg">
		<xs:annotation>
			<xs:documentation>Tipo Dados do Endereço</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xLgr">
				<xs:annotation>
					<xs:documentation>Logradouro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nro">
				<xs:annotation>
					<xs:documentation>Número</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xCpl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Complemento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xBairro">
				<xs:annotation>
					<xs:documentation>Bairro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cMun" type="TCodMunIBGE">
				<xs:annotation>
					<xs:documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMun">
				<xs:annotation>
					<xs:documentation>Nome do município, , informar EXTERIOR para operações com o exterior.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CEP" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CEP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UF" type="TUf">
				<xs:annotation>
					<xs:documentation>Sigla da UF, , informar EX para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cPais" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do país</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xPais" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nome do país</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Telefone</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{7,10}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TLocal">
		<xs:annotation>
			<xs:documentation>Tipo Dados do Local de Origem ou Destino</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cMun" type="TCodMunIBGE">
				<xs:annotation>
					<xs:documentation>Código do município (utilizar a tabela do IBGE)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMun">
				<xs:annotation>
					<xs:documentation>Nome do município</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UF" type="TUf">
				<xs:annotation>
					<xs:documentation>Sigla da UF</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TEndReEnt">
		<xs:annotation>
			<xs:documentation> Tipo Dados do Local de Retirada ou Entrega</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="CNPJ" type="TCnpj">
					<xs:annotation>
						<xs:documentation>Número do CNPJ</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CPF" type="TCpf">
					<xs:annotation>
						<xs:documentation>Número do CPF</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="xNome">
				<xs:annotation>
					<xs:documentation>Razão Social ou Nome</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xLgr">
				<xs:annotation>
					<xs:documentation>Logradouro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="255"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nro">
				<xs:annotation>
					<xs:documentation>Número</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xCpl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Complemento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xBairro">
				<xs:annotation>
					<xs:documentation>Bairro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cMun" type="TCodMunIBGE">
				<xs:annotation>
					<xs:documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMun">
				<xs:annotation>
					<xs:documentation>Nome do município, , informar EXTERIOR para operações com o exterior.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UF" type="TUf">
				<xs:annotation>
					<xs:documentation>Sigla da UF, , informar EX para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TNFeNF">
		<xs:annotation>
			<xs:documentation>Tipo  de Dados das Notas Fiscais Papel e Eletrônica</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="infNFe">
				<xs:annotation>
					<xs:documentation>Informações da NF-e</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="chNFe" type="TChNFe">
							<xs:annotation>
								<xs:documentation>Chave de acesso da NF-e</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PIN" type="TPIN" minOccurs="0">
							<xs:annotation>
								<xs:documentation>PIN SUFRAMA</xs:documentation>
								<xs:documentation>PIN atribuído pela SUFRAMA para a operação.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="infNF">
				<xs:annotation>
					<xs:documentation>Informações da NF mod 1 e 1A</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="emi">
							<xs:annotation>
								<xs:documentation>Informações do Emitente da NF</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CNPJ" type="TCnpj">
										<xs:annotation>
											<xs:documentation>CNPJ do emitente</xs:documentation>
											<xs:documentation/>
										</xs:annotation>
									</xs:element>
									<xs:element name="xNome">
										<xs:annotation>
											<xs:documentation>Razão Social ou Nome </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TString">
												<xs:maxLength value="60"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UF" type="TUf">
										<xs:annotation>
											<xs:documentation>UF do Emitente</xs:documentation>
											<xs:documentation>Informar 'EX' para operações com o exterior.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="dest">
							<xs:annotation>
								<xs:documentation>Informações do Destinatário da NF</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:choice>
										<xs:element name="CNPJ" type="TCnpjOpc">
											<xs:annotation>
												<xs:documentation>CNPJ do Destinatário</xs:documentation>
												<xs:documentation>Informar o CNPJ ou o CPF do destinatário, preenchendo os
zeros não significativos.
Não informar o conteúdo da TAG se a operação for realizada com o Exterior.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CPF" type="TCpf">
											<xs:annotation>
												<xs:documentation>CPF do Destinatário</xs:documentation>
												<xs:documentation>Informar os zeros não significativos.
</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
									<xs:element name="xNome">
										<xs:annotation>
											<xs:documentation>Razão Social ou Nome </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="TString">
												<xs:maxLength value="60"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UF" type="TUf">
										<xs:annotation>
											<xs:documentation>UF do Destinatário</xs:documentation>
											<xs:documentation>Informar 'EX' para operações com o exterior.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="serie">
							<xs:annotation>
								<xs:documentation>Série</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="TString">
									<xs:minLength value="1"/>
									<xs:maxLength value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="nNF">
							<xs:annotation>
								<xs:documentation>Número </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="TString">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dEmi" type="TData">
							<xs:annotation>
								<xs:documentation>Data de Emissão</xs:documentation>
								<xs:documentation>Formato AAAA-MM-DD</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vNF" type="TDec_1302">
							<xs:annotation>
								<xs:documentation>Valor Total da NF</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PIN" type="TPIN" minOccurs="0">
							<xs:annotation>
								<xs:documentation>PIN SUFRAMA</xs:documentation>
								<xs:documentation>PIN atribuído pela SUFRAMA para a operação.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TUnidadeTransp">
		<xs:annotation>
			<xs:documentation>Tipo Dados Unidade de Transporte</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tpUnidTransp" type="TtipoUnidTransp">
				<xs:annotation>
					<xs:documentation>Tipo da Unidade de Transporte</xs:documentation>
					<xs:documentation>1 - Rodoviário Tração;

2 - Rodoviário Reboque;

3 - Navio;

4 - Balsa;

5 - Aeronave;

6 - Vagão;

7 - Outros</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="idUnidTransp" type="TContainer">
				<xs:annotation>
					<xs:documentation>Identificação da Unidade de Transporte</xs:documentation>
					<xs:documentation>Informar a identificação conforme o tipo de unidade de transporte.
Por exemplo: para rodoviário tração ou reboque deverá preencher com a placa do veículo.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lacUnidTransp" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Lacres das Unidades de Transporte</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nLacre">
							<xs:annotation>
								<xs:documentation>Número do lacre</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="TString">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="infUnidCarga" type="TUnidCarga" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Informações das Unidades de Carga (Containeres/ULD/Outros)</xs:documentation>
					<xs:documentation>Dispositivo de carga utilizada (Unit Load Device - ULD) significa todo tipo de contêiner de carga, vagão, contêiner de avião, palete de aeronave com rede ou palete de aeronave com rede sobre um iglu. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtdRat" type="TDec_0302_0303" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade rateada (Peso,Volume)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TUnidCarga">
		<xs:annotation>
			<xs:documentation>Tipo Dados Unidade de Carga</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tpUnidCarga" type="TtipoUnidCarga">
				<xs:annotation>
					<xs:documentation>Tipo da Unidade de Carga</xs:documentation>
					<xs:documentation>1 - Container;

2 - ULD;

3 - Pallet;

4 - Outros;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="idUnidCarga" type="TContainer">
				<xs:annotation>
					<xs:documentation>Identificação da Unidade de Carga</xs:documentation>
					<xs:documentation>Informar a identificação da unidade de carga, por exemplo: número do container.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lacUnidCarga" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Lacres das Unidades de Carga</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nLacre">
							<xs:annotation>
								<xs:documentation>Número do lacre</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="TString">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="qtdRat" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade rateada (Peso,Volume)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TDec_0302_0303"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRespTec">
		<xs:annotation>
			<xs:documentation>Tipo Dados da Responsável Técnico</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CNPJ" type="TCnpj">
				<xs:annotation>
					<xs:documentation>CNPJ da pessoa jurídica responsável técnica pelo sistema utilizado na emissão do documento fiscal eletrônico</xs:documentation>
					<xs:documentation>Informar o CNPJ da pessoa jurídica desenvolvedora do sistema utilizado na emissão do documento fiscal eletrônico.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xContato">
				<xs:annotation>
					<xs:documentation>Nome da pessoa a ser contatada</xs:documentation>
					<xs:documentation>Informar o nome da pessoa a ser contatada na empresa desenvolvedora do sistema utilizado na emissão do documento fiscal eletrônico. No caso de pessoa física, informar o respectivo nome.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="email" type="TEmail">
				<xs:annotation>
					<xs:documentation>Email da pessoa jurídica a ser contatada</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fone">
				<xs:annotation>
					<xs:documentation>Telefone da pessoa jurídica a ser contatada</xs:documentation>
					<xs:documentation>Preencher com o Código DDD + número do telefone.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:pattern value="[0-9]{7,12}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:element name="idCSRT">
					<xs:annotation>
						<xs:documentation>Identificador do código de segurança do responsável técnico</xs:documentation>
						<xs:documentation>Identificador do CSRT utilizado para geração do hash</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{3}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="hashCSRT">
					<xs:annotation>
						<xs:documentation>Hash do token do código de segurança do responsável técnico</xs:documentation>
						<xs:documentation>O hashCSRT é o resultado das funções SHA-1 e base64 do token CSRT fornecido pelo fisco + chave de acesso do DF-e. (Implementação em futura NT)

Observação: 28 caracteres são representados no schema como 20 bytes do tipo base64Binary</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:base64Binary">
							<xs:length value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TProtMDFe">
		<xs:annotation>
			<xs:documentation>Tipo Protocolo de status resultado do processamento do MDF-e</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="infProt">
				<xs:annotation>
					<xs:documentation>Dados do protocolo de status</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tpAmb" type="TAmb">
							<xs:annotation>
								<xs:documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="verAplic" type="TVerAplic">
							<xs:annotation>
								<xs:documentation>Versão do Aplicativo que processou a NF-3e</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="chMDFe" type="TChMDFe">
							<xs:annotation>
								<xs:documentation>Chave de acesso do MDF-e</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dhRecbto" type="TDateTimeUTC">
							<xs:annotation>
								<xs:documentation>Data e hora de processamento, no formato AAAA-MM-DDTHH:MM:SS TZD.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nProt" type="TProt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Número do Protocolo de Status do MDF-e</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="digVal" type="ds:DigestValueType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Digest Value do MDF-e processado. Utilizado para conferir a integridade do MDF-e original.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cStat">
							<xs:annotation>
								<xs:documentation>Código do status do MDF-e</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="TStat"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="xMotivo" type="TMotivo">
							<xs:annotation>
								<xs:documentation>Descrição literal do status do MDF-e.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Id" type="xs:ID" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="infFisco" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mensagem do Fisco</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cMsg">
							<xs:annotation>
								<xs:documentation>Código do status da mensagem do fisco</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="TStat"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="xMsg" type="TMotivo">
							<xs:annotation>
								<xs:documentation>Mensagem do Fisco</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ds:Signature" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="versao" type="TVerMDe" use="required"/>
	</xs:complexType>
	<xs:simpleType name="TProcEmi">
		<xs:annotation>
			<xs:documentation>Tipo processo de emissão do MDF-e</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TIdLote">
		<xs:annotation>
			<xs:documentation>Tipo Identificador de controle do envio do lote. Número seqüencial auto-incremental, de controle correspondente ao identificador único do lote enviado. A responsabilidade de gerar e controlar esse número é do próprio contribuinte.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TModalMD">
		<xs:annotation>
			<xs:documentation>Tipo Modal Manifesto</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TModDoc">
		<xs:annotation>
			<xs:documentation> Tipo Modelo do Documento</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="1B"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="2D"/>
			<xs:enumeration value="2E"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="8B"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="55"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TVerMDe">
		<xs:annotation>
			<xs:documentation> Tipo Versão do MDF-e - 3.00</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="3\.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TTime">
		<xs:annotation>
			<xs:documentation> Tipo hora</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="(([0-1][0-9])|([2][0-3])):([0-5][0-9]):([0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TPIN">
		<xs:annotation>
			<xs:documentation>Tipo Dados PIN (SUFRAMA)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="2"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[1-9]{1}[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TContainer">
		<xs:annotation>
			<xs:documentation>Tipo Número do Container</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[A-Z0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TEmail">
		<xs:annotation>
			<xs:documentation>Tipo Email</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="6"/>
			<xs:maxLength value="60"/>
			<xs:pattern value="[^@]+@[^\.]+\..+"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
