CTe.AppTeste/schemas/cteModalDutoviario_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by sas.softwares@procergs.rs.gov.br (PROCERGS) -->
<xs:schema xmlns="http://www.portalfiscal.inf.br/cte" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="tiposGeralCTe_v4.00.xsd"/>
	<xs:include schemaLocation="cteTiposBasico_v4.00.xsd"/>
	<xs:element name="duto">
		<xs:annotation>
			<xs:documentation>Informações do modal Dutoviário</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="vTar" type="TDec_0906Opc" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Valor da tarifa</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dIni" type="TData">
					<xs:annotation>
						<xs:documentation>Data de Início da prestação do serviço</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dFim" type="TData">
					<xs:annotation>
						<xs:documentation>Data de Fim da prestação do serviço</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="classDuto" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Classificação do Dutoviário</xs:documentation>
						<xs:documentation>Informar: 1 - Gasoduto 2 - Mineroduto 3 - Oleoduto</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tpContratacao" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tipo de contratação do serviço de transporte (apenas para gasoduto)</xs:documentation>
						<xs:documentation>Informar:
0 - Ponta a ponto
1 - Capacidade de Entrada 
2 - Capacidade de Saida</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="codPontoEntrada" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código do Ponto de Entrada</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:minLength value="2"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="codPontoSaida" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código do Ponto de Saída</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:minLength value="2"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="nContrato" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Número do Contrato de Capacidade</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:minLength value="2"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
